@import url('https://fonts.googleapis.com/css2?family=Noto+Sans&display=swap');
:root{
    --primary: #4a7a96;
    --secondary:#ee8695;
    --secondary2:#fbbbad;
    --font-color:#ffffff;
    --btn-font:#fff;
    --body-color:#292831;
    --body-accent:#333f58;
}
body,
html {
    margin: 0px;
    padding: 0px;
	font-family: 'Noto Sans', sans-serif;
    color: var(--font-color);
    background-color: var(--body-color);
}
a {
	text-decoration: none;
    color: var(--font-color);
}
a:hover{
    opacity: 90%;
}
.primary{
    background-color: var(--primary);
}
.secondary{
    background-color: var(--secondary);
}
.secondary2{
    background-color: var(--secondary2);
}
.accent{
    background-color: var(--body-accent);
}
.primary-border{
   border-color: var(--primary);
}
.secondary-border{
    border-color: var(--secondary);
}
.secondary2-border{
    border-color: var(--secondary2);
}
.accent-border{
    border-color: var(--body-accent);
}
.rounded{
    border-radius: 999999px !important;
}